.myLoader2 {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    z-index: 2000;
    opacity: 0.9;
    position: fixed;
    max-height: auto;
    top: 0;
}

.loader2 {
    position: fixed; /* Cambiado de relative a fixed */
    top: 10%; /* Se fija en la parte superior de la ventana */
    left: 50%; /* Centra horizontalmente */
    transform: translateX(-50%); /* Centra horizontalmente con flexibilidad */
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader2 h2 {
        font-family: sans-serif;
        font-size: 15px;
        font-weight: 500;
        color: #fff
    }
.loader2 span:nth-child(1) {
        border-bottom-width: 5px;
        border-color: rgb(147, 203, 207);
    }

.loader2 span:nth-child(2) {
        border-top-width: 5px;
        animation-direction: reverse;
        border-color: rgb(147, 203, 207);
    }

.loader2 span:nth-child(3) {
        border-top-width: 5px;
        animation-duration: 3s;
        border-color: rgb(147, 203, 207);
    }

.loader2 span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 2px solid #fff;
        pointer-events: none;
        animation: animate 5s linear infinite;
    }

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    0% {
        transform: rotate(360deg);
    }
}
 
#miFormulario {
    width: 100%; /* Ajusta el ancho del formulario al 100% */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.login-tm {
    background: url('/imagenes/fondo2.jpg') no-repeat center center fixed; /* Ruta relativa a la carpeta wwwroot */
    background-size: cover;
    color: white; /* Puedes cambiar el color del texto según tus preferencias */
    height: 100vh; /* Ajusta la altura al 100% de la ventana */
    margin: 0; /* Elimina el margen predeterminado para que la imagen ocupe toda la pantalla */
    display: flex;
    /*flex-direction: column;
    justify-content: center;*/
}

/* Ajustes adicionales para centrar el contenido si es necesario */
#formContent {
    text-align: center;
}

#acor1 {
    width: 400%;
    color: black; /* Color del texto en los botones */
    background: #0dcaf0;
}

#acor2 {
    width: 290%;
    color: black; /* Color del texto en los botones */
    background: #28a745;
}

#acor3 {
    width: 503%;
    color: black; /* Color del texto en los botones */
    background: #007bff;
}

#collapseOne .accordion-button {
    background-color: #007bff; /* Color del primer botón */
}

#collapseTwo .accordion-button {
    background-color: #28a745; /* Color del segundo botón */
}

#collapseThree .accordion-button {
    background-color: #dc3545; /* Color del tercer botón */
}

.sintomas-header {
    border-bottom: 1px solid #333;
    margin-bottom: 10px;
}

.form-row {
    font-family: 'Young Serif', sans-serif;
    display: flex;
    justify-content: space-between;
    margin: 0 -5px;
}

.checkbox-container {
    flex: 1;
    margin: 0 5px;
    vertical-align: top; /* Alinea los elementos en la parte superior */
}


.estiloTextBox {
    font-size: 14px;
    text-align: center;
    margin-left: 35%;
}



.error-border {
    border: 2px solid red; /* Establece el borde en rojo */
}

body {
    font-family: "Arial, sans-serif" !important;
    font-family: "Poppins", sans-serif;
    height: 100vh;
}

a {
    color: #92badd;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
}

h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    margin: 40px 8px 10px 8px;
    color: #cccccc;
}

/* STRUCTURE */

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}

#formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
}

#formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}

/* TABS */

h2.inactive {
    color: #cccccc;
}

h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
}

/* FORM TYPOGRAPHY*/

input[type=button], input[type=submit], input[type=reset] {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

    input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
        background-color: #39ace7;
    }

    input[type=button]:active, input[type=submit]:active, input[type=reset]:active {
        -moz-transform: scale(0.95);
        -webkit-transform: scale(0.95);
        -o-transform: scale(0.95);
        -ms-transform: scale(0.95);
        transform: scale(0.95);
    }

input[type=email] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

    input[type=email]:focus {
        background-color: #fff;
        border-bottom: 2px solid #5fbae9;
    }

    input[type=email]:placeholder {
        color: #cccccc;
    }

input[type=password] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

    input[type=password]:focus {
        background-color: #fff;
        border-bottom: 2px solid #5fbae9;
    }

    input[type=password]:placeholder {
        color: #cccccc;
    }

/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

    .fadeIn.first {
        -webkit-animation-delay: 0.4s;
        -moz-animation-delay: 0.4s;
        animation-delay: 0.4s;
    }

    .fadeIn.second {
        -webkit-animation-delay: 0.6s;
        -moz-animation-delay: 0.6s;
        animation-delay: 0.6s;
    }

    .fadeIn.third {
        -webkit-animation-delay: 0.8s;
        -moz-animation-delay: 0.8s;
        animation-delay: 0.8s;
    }

    .fadeIn.fourth {
        -webkit-animation-delay: 1s;
        -moz-animation-delay: 1s;
        animation-delay: 1s;
    }

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
}

.underlineHover:hover {
    color: #0d0d0d;
}

    .underlineHover:hover:after {
        width: 100%;
    }

/* OTHERS */

*:focus {
    outline: none;
}

* {
    box-sizing: border-box;
}

/*Establece la imagen de fondo */
/*body .login {
    background: linear-gradient(rgba(20,20,20, .5),rgba(20,20,20, .5)),url(../imagenes/bg-1.jpeg);*/
/* -webkit-clip-path: polygon(0 0, 100% 0, 100% 89%, 51% 100%, 0 89%);
    clip-path: polygon(0 0, 100% 0, 100% 89%, 51% 100%, 0 89%);*/
/*}
footer .login {
    background: linear-gradient(rgba(20,20,20, .5),rgba(20,20,20, .5)),url(../imagenes/bg-1.jpeg);*/
/* -webkit-clip-path: polygon(0 0, 100% 0, 100% 89%, 51% 100%, 0 89%);
    clip-path: polygon(0 0, 100% 0, 100% 89%, 51% 100%, 0 89%);*/
/*}*/

/* Estilo para el contenido del formulario */
/*.wrapper {
    background-color: rgba(255, 255, 255, 0);*/ /* Fondo semitransparente para que la imagen de fondo sea visible */
/*padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #000000;
}*/
#icon {
    width: 160px; /* Ancho deseado */
    height: auto; /* Altura ajustada automáticamente para mantener la proporción */
}

#btnCerrar {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999; /* Asegura que el botón esté por encima de otros elementos */
}

#tablaMascotas {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px; /* Añadir espacio superior a la tabla */
}

    #tablaMascotas th,
    #tablaMascotas td {
        padding: 12px;
        border: 1px solid #ddd;
        text-align: center;
        font-size: 14px;
    }

    #tablaMascotas th {
        background-color: #021D5D; /* Color de fondo para las celdas del encabezado */
        color: white; /* Color del texto en el encabezado */
    }

    #tablaMascotas tbody tr:nth-child(odd) {
        background-color: #ffffff; /* Fila impar amarilla */
    }

    #tablaMascotas tbody tr:nth-child(even) {
        background-color: #ffffff; /* Fila par blanca */
    }

    #tablaMascotas tbody tr:hover {
        background-color: #D4E2F9; /* Resalta la fila al pasar el ratón */
    }

    #tablaMascotas .btn {
        margin-right: 5px;
    }

    #tablaMascotas tfoot {
        background-color: #021D5D; /* Color de fondo para el pie de la tabla */
        color: white; /* Color del texto en el pie de la tabla */
    }

#tablaDiagnostico {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px; /* Añadir espacio superior a la tabla */
}

    #tablaDiagnostico th,
    #tablaDiagnostico td {
        padding: 12px;
        border: 1px solid #ddd;
        text-align: center;
        font-size: 14px;
    }

    #tablaDiagnostico th {
        background-color: #021D5D; /* Color de fondo para las celdas del encabezado */
        color: white; /* Color del texto en el encabezado */
    }

    #tablaDiagnostico tbody tr:nth-child(odd) {
        background-color: #ffffff; /* Fila impar amarilla */
    }

    #tablaDiagnostico tbody tr:nth-child(even) {
        background-color: #ffffff; /* Fila par blanca */
    }

    #tablaDiagnostico tbody tr:hover {
        background-color: #D4E2F9; /* Resalta la fila al pasar el ratón */
    }

    #tablaDiagnostico .btn {
        margin-right: 5px;
    }

    #tablaDiagnostico tfoot {
        background-color: #021D5D; /* Color de fondo para el pie de la tabla */
        color: white; /* Color del texto en el pie de la tabla */
    }

#tablaLlantas {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px; /* Añadir espacio superior a la tabla */
}

    #tablaLlantas th,
    #tablaLlantas td {
        padding: 12px;
        border: 1px solid #ddd;
        text-align: center;
        font-size: 14px;
    }

    #tablaLlantas th {
        background-color: #021D5D; /* Color de fondo para las celdas del encabezado */
        color: white; /* Color del texto en el encabezado */
    }

    #tablaLlantas tbody tr:nth-child(odd) {
        background-color: #ffffff; /* Fila impar amarilla */
    }

    #tablaLlantas tbody tr:nth-child(even) {
        background-color: #ffffff; /* Fila par blanca */
    }

    #tablaLlantas tbody tr:hover {
        background-color: #D4E2F9; /* Resalta la fila al pasar el ratón */
    }

    #tablaLlantas .btn {
        margin-right: 5px;
    }

    #tablaLlantas tfoot {
        background-color: #021D5D; /* Color de fondo para el pie de la tabla */
        color: white; /* Color del texto en el pie de la tabla */
    }


.loadingModal .modal-content {
    background: transparent;
    border: none !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.myLoader {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    z-index: 2000;
    opacity: 0.9;
    position: fixed;
    max-height: auto;
    top: 0;
}

.container1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.ring {
    width: 200px;
    height: 200px;
    border: 0px solid white;
    border-radius: 50%;
    position: absolute;
}

    .ring:nth-child(1) {
        border-bottom-width: 8px;
        border-color: rgb(255,0,255);
        animation: rotate1 2s linear infinite;
    }

    .ring:nth-child(2) {
        border-right-width: 8px;
        border-color: rgb(0,247,255);
        animation: rotate2 2s linear infinite;
    }

    .ring:nth-child(3) {
        border-right-width: 8px;
        border-color: rgb(0,255,13);
        animation: rotate3 2s linear infinite;
    }

.loading {
    color: white;
    font-size: 20px; /* Puedes ajustar el tamaño de la fuente según tus preferencias */
    font-weight: bold; /* Hace que el texto sea negrita */
    /*background: black;*/ /* Establece el fondo blanco */
    /*opacity: 0.5;*/
}

@keyframes rotate1 {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}



@keyframes rotate2 {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes rotate3 {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

body {
}



.TMSTitulo {
    color: #211900;
    font-size: large;
    font-weight: normal;
    font-family: Century;
    text-transform: capitalize;
}

.TMSBotonCerrarModal {
    height: 40px;
    color: black;
    font-size: 40px;
    box-shadow: 0 0 5px #eee;
}

.TMSTituloModal {
    background-color: #F7F6F8;
    color: black;
}

.TMSHeaderModal {
    height: 80px;
    background-color: #F7F6F8;
    border-radius: .5px;
}

.TMSlabelComboValores {
    color: blue;
    font-size: x-small;
    font-weight: bold;
    font-family: Verdana;
    text-transform: capitalize;
}

.TMSComboValores {
    color: blue;
    font-size: x-small;
    font-weight: normal;
    font-family: Verdana;
    text-transform: capitalize;
    height: 35px;
}

.TMSTextBoxValores {
    color: #127C8C;
    font-size: x-small;
    font-weight: normal;
    font-family: Verdana;
    text-transform: capitalize;
    height: 7px;
}

.TMSlabelText {
    color: #127C8C;
    font-size: x-small;
    font-weight: bold;
    font-family: Verdana;
    text-transform: capitalize;
}

.TMSContenedorText {
    vertical-align: bottom;
    height: 30px;
}

.TMSTituloTabla {
    color: #127C8C;
    font-size: small;
    vertical-align: central;
    text-align: center;
}

.TMSBodyTabla {
    color: #127C8C;
    font-size: small;
    vertical-align: central;
    text-align: center;
}

.TMSModal {
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.TMSButtom {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    background-color: #127C8C;
    color: white;
}

TMSDivImage {
    /*background-image: url("~/imagenes/ruedast2.png");*/
    /*   position: absolute;*/
    /* height: 60%;
    width: 80%;*/
    /*  background-image: url("~/imagenes/ruedast2.png");*/
    /* background-image: src("~/imagenes/ruedast2.png");*/

    background-color: aquamarine;
    position: center;
}

TMSDivButtomSelected {
    left: 180px;
    top: 90px;
    position: absolute;
}

.btn-grad {
    padding: 5px 6px;
    text-align: center;
    text-transform: uppercase;
    text-emphasis-color: white;
    box-shadow: 0 0 10px #eee;
    border-radius: 15px;
    display: block;
    color: white
}
/* Estilo para el menú desplegable */
.offcanvas {
    /* Agrega estilos personalizados según tus preferencias */
    background-color: #f8f9fa;
    color: #212529;
    /* Agrega más estilos según sea necesario */
}

/* Aplicar la fuente Quicksand a tu menú desplegable y elementos del menú */
body, .offcanvas, .offcanvas-body ul.dropdown-menu li a {
    font-family: 'Quicksand', sans-serif;
}
/* Agregar efectos de transición al menú desplegable */
/* Estilo para el menú desplegable */
.offcanvas {
    background-color: #f8f9fa; /* Color de fondo del menú */
    color: #212529; /* Color del texto del menú */
    transition: transform 0.3s ease-in-out; /* Transición suave en la propiedad transform */
}

/* Estilo para los elementos del menú */
.offcanvas-body ul.dropdown-menu li a {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    transition: color 0.3s ease-in-out; /* Transición suave en el color del texto */
}

    /* Cambio de color al pasar el ratón sobre los elementos del menú */
    .offcanvas-body ul.dropdown-menu li a:hover {
        color: #007bff; /* Cambia a un color diferente al pasar el ratón */
    }


:root {
    --primary-font-color1: #ffffff;
    --primary-font-color2: #007bff;
}

.navbar-light {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #ffffff;
}

.navbar-brand {
    font-family: 'Alfa Slab One' !important;
    font-size: 24px; /* Tamaño de fuente según tus preferencias */
    color: #ffffff; /* Color del texto */
    /* Puedes agregar más estilos según tus preferencias */
}

.navbar-light .container a, .navbar-light .container .collapse .navbar-nav .nav-item .nav-link {
    color: var(--primary-font-color1);
}

.background-main {
    height: 100vh;
    background: linear-gradient(rgba(20,20,20, .5),rgba(20,20,20, .5)),url(../imagenes/bg-1.jpeg);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 89%, 51% 100%, 0 89%);
    clip-path: polygon(0 0, 100% 0, 100% 89%, 51% 100%, 0 89%);
}

.background-main, .services-class {
    max-width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: var(--primary-font-color1);
}

    .background-main h1 {
        font-size: 5.5rem;
    }

    .background-main .main {
        display: table;
        width: 100%;
        height: 82vh;
        text-align: center;
        /*
    display: flex;
    width: 50%;
    height: 200px;
    margin: auto;
    */
    }

        .background-main .main .main-title, .background-main .main p {
            display: table-cell;
            vertical-align: middle;
            /*margin: auto;  Important
    text-align: center;  */
        }

.main-link {
    font-size: 44px;
    color: var(--primary-font-color1);
}

    .main-link:hover {
        color: var(--primary-font-color2);
    }

.about-us, .services-class {
    margin-top: 3em;
    margin-bottom: 3em;
}

.line-shape {
    width: 10%;
    height: 2px;
    margin-left: calc(49% - 40px);
    background-color: var(--primary-font-color2);
    margin-top: 17px;
    margin-bottom: 25px;
}

.services-class {
    max-width: 100%;
    height: 78vh;
    background: linear-gradient(rgba(20,20,20, .5),rgba(20,20,20, .5)),url(../imagenes/bg-2.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-clip-path: polygon(0 7%, 100% 0, 100% 96%, 0 100%);
    clip-path: polygon(0 7%, 100% 0, 100% 96%, 0 100%);
}

    .services-class .section-heading, .portfolio-title, .contact-us .section-heading {
        font-size: 34px;
        margin-top: 2.5em;
    }

    .services-class .container .service-box .text-muted {
        color: rgba(255,255,255,.7) !important
    }

.contact-us {
    max-width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(20,20,20, .5),rgba(20,20,20, .5)),url(../imagenes/bg-3.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: var(--primary-font-color1);
    -webkit-clip-path: polygon(0 0, 100% 7%, 100% 100%, 0 94%);
    clip-path: polygon(0 0, 100% 7%, 100% 100%, 0 94%);
}

footer.footer .social-link {
    display: block;
    height: 4rem;
    width: 4rem;
    line-height: 4.3rem;
    font-size: 2.5rem;
    background-color: var(--primary-font-color2);
    -webkit-transition: background-color .15s ease-in-out;
    transition: background-color .15s ease-in-out;
    -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,.1);
    box-shadow: 0 3px 3px 0 rgba(0,0,0,.1);
}

    footer.footer .social-link:hover {
        background-color: rgba(20,20,20, .5);
    }

#sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 7.4%;
    left: -250px;
    background-color: #333;
    padding-top: 20px;
    color: white;
    transition: left 0.6s; /* Agregar transición para una animación suave */
}

    #sidebar.active {
        left: 0;
    }

/* Estilo del botón para abrir el sidebar */
#sidebarCollapse {
    position: fixed;
    left: 20px;
    top: 20px;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

    #sidebarCollapse i {
        font-size: 20px;
    }
/* Estilos para los temas principales (ahora son enlaces) */
.list-unstyled.components li .main-topic {
    font-size: 20px; /* Tamaño de la letra más grande para los temas principales */
    margin-bottom: 10px;
    display: block; /* Hacer que los enlaces ocupen todo el espacio del li */

    color: white; /* Color del texto */
    padding: 10px 10px; /* Agregar espacio alrededor del texto para el estilo de recuadro */
    border: 1px solid white; /* Agregar un borde alrededor del tema principal */
    border-radius: 10px; /* Redondear las esquinas del recuadro */
    width: 90%;
    position: relative;
    margin-left: 15px;
}

.list-unstyled.sub-components li a {
    font-size: 16px; /* Tamaño de la letra un poco más pequeña para los subtemas */
    margin-bottom: 5px;
    margin-left: 25px;
}

/* Estilo al pasar el mouse sobre los enlaces (mantenemos el estilo original) */
.list-unstyled.sub-components a:hover {
    color: #ff6600; /* Cambiar color al pasar el mouse */
}

/* Mostrar los temas principales como recuadros */
.list-unstyled.components li {
    margin-bottom: 10px;
}

.w-100 {
    max-width: 150px;
    height: auto;
}

#btnCerrar {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999; /* Asegura que el botón esté por encima de otros elementos */
}

.precision-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Añadido para centrar horizontalmente */
}

.precision {
    position: relative;
    height: 150px; /* Altura del círculo */
    width: 150px; /* Ancho del círculo */
    background: conic-gradient(#3498db 0%, #3498db var(--porcentaje), transparent var(--porcentaje) 100%);
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid blue; /* Borde azul de 5 píxeles */
}

.circleContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#precisionPorcentaje {
    font-size: 24px;
    font-weight: bold;
    color: #3498db; /* Color del texto */
}

.circleLabel {
    font-size: 14px;
    color: #3498db; /* Color del texto */
}